html {
	font-size: 10px;
	body {
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-family: 'Helvetica', $Helvetica-Neue-Regular, 'sans';
		color: $primaryFontColor;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		line-height: 1.2;

		article {
			height: 100%;
			padding: 1rem;
			* {
				box-sizing: border-box;
			}
			> .content {
				margin: 1rem 0;
				border: 1px solid $primaryColor;
				padding: 1rem;
                position: relative;
                min-height: 90vh;
			}
		}
		h1 {
			font-size: 3rem;
			padding: 1rem;
			margin-bottom: 1rem;
			background-color: $primaryColor;
		}
		h2 {
			font-size: 2.4rem;
		}
		h3 {
			font-size: 2rem;
		}
		a {
			color: $linkColor;
		}
	}
}
